{% extends "base.html" %}
{% block title %}Nova senha · {{ site.serverName }}{% endblock %}
{% block main %}
<section class="wrap section auth">
  <form method="post" action="/redefinir" class="card pad form">
    <div class="center-text"><img src="/static/px/key.svg" alt="" class="px s64"><h1>Nova senha</h1></div>
    {% if error %}<div class="flash err" role="alert">{{ error }}</div>{% endif %}
    <input type="hidden" name="csrf" value="{{ csrf }}">
    <input type="hidden" name="t" value="{{ token }}">
    <label>Senha nova <input type="password" name="senha" required minlength="8" maxlength="64" autocomplete="new-password" autofocus></label>
    <label>Repita a senha <input type="password" name="senha2" required minlength="8" maxlength="64" autocomplete="new-password"></label>
    <button class="btn big block" type="submit">Salvar senha</button>
  </form>
</section>
{% endblock %}
